.testArea {
    background-color: rgb(200, 200, 200);
    width: 100%;
    margin: 0 auto;

    .progressBar {
        background-color: rgb(211, 211, 211);
    }

    .answerButtons {
        background-color: rgb(199, 199, 199);
    }

    .nextButton {
        background-color: rgb(188, 188, 188);
    }
}